
// FOOTER
// ---------------------------------------+
//	
.footer
	background-color: $red
	color: $white
	padding: 30px 0
	ul
		margin-top: 10px
	p
		margin: 0
	a
		color: $white
		&:hover
			text-decoration: underline
	.contact-us
		font:
			family: $secondary-font
			size: $font-size-xl
			weight: normal
		opacity: 0.8
		padding-left: 8px
		transition: all 0.3s ease-in-out
		&:hover
			text-shadow: 0 4px 4px rgba(0,0,0,0.3)
			text-decoration: none
			opacity: 1
			&:after
				margin-left: 20px

		&:after
			@extend .arrow-bottom
			background-size: cover
			content: ''
			display: inline-block
			height: 30px
			width: 30px
			-webkit-transform: rotate(-90deg)
			-moz-transform: rotate(-90deg)
			-ms-transform: rotate(-90deg)
			transform: rotate(-90deg)
			transition: all 0.3s ease-in-out
	.social
		+clearfix
		margin-bottom: 10px
		li 
			a
				background-color: $white
				&:hover
					box-shadow: 0 0px 5px 0px rgba(0,0,0,0.3)
				svg
					path
						fill: $red
	.copyright
		font:
			family: $secondary-font
			size: $font-size-s
			weight: normal

+breakpoint(tablet)
	.footer
		.contact-us
			font-size: $font-size-xl - 10px
		.social
			li
				margin-right: 13px
			
	
+breakpoint(mobile-wide, mobile)
	.footer
		text-align: center
		ul
			margin-bottom: 20px
		.social
			li
				display: inline-block
				float: none
				