
// HEADER
// ---------------------------------------+
//

.header
    height: 42px
    position: fixed
    background-color: $primary-color
    width: 100%
    z-index: 3
    > .container
        z-index: 2
    &__logo
        background: url('#{$image-path}/logo.png') no-repeat 0 center
        background-size: contain
        color: $white
        display: block
        float: left
        height: 25px
        width: 153px
        margin: 7px 0 0
        text-transform: uppercase
        text-indent: -9999px
        > a
            height: 25px
            display: block
        &-ES
            background: url('#{$image-path}/logo-ES.png') no-repeat 0 center
            background-size: contain
    &__nav
        +clearfix
        float: right

        > ul
            float: right
            margin-top: 10px
        	
            > li
                float: left
				
                > a,
                button
                    background: transparent
                    border: 0 none
                    position: relative
                    display: block
                    color: $white
                    font-size: $font-size-s
                    font-family: $main-font
                    padding: 0 20px
                    text-transform: uppercase
                    transition: all 0.3s ease-in-out
                    &:hover
                        color: $orange
                        text-decoration: underline
                .watch
                    padding-right: 32px
                    &:after
                        background: url('#{$image-path}/icon-watch-live.png') no-repeat 0 0
                        background-size: cover
                        content: ''
                        display: inline-block
                        position: absolute
                        top: 2px
                        right: 0
                        height: 14px
                        width: 24px
                .menu
                    padding-left: 32px
                    &:before
                        background: url('#{$image-path}/icon-menu.png') no-repeat 0 0
                        background-size: cover
                        content: ''
                        display: inline-block
                        position: absolute
                        top: 0
                        left: 0
                        height: 18px
                        width: 24px
                &.secondary-nav:hover
                    a
                        transition: all 0.1s ease-in-out
                        background-color: $orange
                        color: $white
                        text-decoration: none
                        .header__sub-nav
                            display: block
    &__sub-nav
        display: none
        background-color: $darkest-gray
        box-shadow: 0px 6px 9px  0px rgba(0,0,0,0.5)
        padding: 20px 0 20px
        position: fixed
        overflow: auto
        top: 42px
        //bottom: 0
        right: 0
        width: 100%
        z-index: 3
        .single-nav
            display: block
            float: left
            width: 25%
            > li
                > a
                    color: $white
                    cursor: default
                    font-family: $secondary-font
                    font-size: $font-size-l
                    font-weight: normal
                ul
                    a
                        display: block
                        color: $white
                        padding: 10px 25px
                        font-weight: normal
                        background:  url('#{$image-path}/nav-arrow.png') no-repeat left center
                        transition: all 0.3s ease-in-out
                        text-transform: uppercase
                        &:hover
                            text-decoration: underline
.close-menu
    content: ''
    display: none
    position: fixed
    top: 0
    right: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 2
+breakpoint(widescreen, desktop, tablet)
    .sub-menu
        display: block !important

	
+breakpoint(mobile)
    .header__nav
        li
            a
                text-indent: -9999em

					
+breakpoint(mobile, mobile-wide)
    .scroll-lock
        overflow: hidden
        position: fixed
    .header__logo
        width: 110px

    .header__nav
        > ul
            > li
                a
                    &.menu
                        padding-left: 32px
                        position: absolute
                        left: 0
                        right: 0
                        margin: auto
                        width: 24px
                        padding: 0
                        text-indent: -9999px
                    &.watch
                        width: 24px
    .sub-menu
        display: none
    
    .header__sub-nav
        .single-nav
            float: none
            width: 100%
            text-align: center
            > li
                border-bottom: 1px solid $white
            &:last-child
                li
                    border: 0 none
           