
// BASE STYLES
// ---------------------------------------+
//

body
	background-color: #fff
	font-family: $main-font
	font-size: $font-size-s

h1, h2, h3, h4, h5
	font-weight: 100
	font-family: $main-font
	line-height: 1.2

h1
	font-size: $font-size-xxl
	margin-bottom: 10px

h2
	font-size: $font-size-xxl
	margin-bottom: 10px

h3
	font-size: $font-size-l
	margin-bottom: 10px
h4
	font-size: $font-size-m
	margin-bottom: 10px
h5
	font-size: $font-size-s
    
a
	color: $link-color
	font-weight: bold
	text-decoration: none

	&:hover,
	&:focus
		color: $link-color-hover

p
	font-weight: normal
	line-height: 1.5
	margin-bottom: 20px

	a
		font-weight: normal

small
	font-size: 10px

strong
	font-weight: bold

em
	font-style: italic

// Forms 
input[type="text"],
input[type="email"],
textarea
	display: block
	padding: 5px 10px
	border: 1px solid $gray
	margin-bottom: 10px
	width: 100%

textarea
	min-height: 80px
	resize: none

html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit