
// LAYOUT / STRUCTURE
// ---------------------------------------+
//
html 
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit

html
	background: $white

body
	+clearfix
	width: 100%


// WIDESCREEN
// ---------------------------------------+
// +breakpoint(widescreen)

// TABLET
// ---------------------------------------+
// +breakpoint(tablet)

// MOBILE WIDE
// ---------------------------------------+
// +breakpoint(mobile-wide)

// MOBILE
// ---------------------------------------+
// +breakpoint(mobile)
