
// RESET
// ---------------------------------------+
//

body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, ol, ul, li, fieldset, article, aside, canvas, footer, header, nav, section, time, audio, video
	box-sizing: border-box
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	font-weight: normal
	vertical-align: baseline

article, aside, footer, header, nav, section, img
	display: block

ol, ul
	list-style: none