
// Shared VIEW
// ---------------------------------------+
//


.center-container
	@extend %absolute-center

.arrow-bottom
	background: url('#{$image-path}/arrow-bottom.png') no-repeat 0 0	
	display: block
	height: 39px
	width: 39px
	
// Images
.full-width-img
	width: 100%

// Base Button
.btn
	background-color: transparent
	border: 0 none
	cursor: pointer
	display: inline-block
	font-weight: 400
	font-size: $font-size-xs
	padding: 11px 20px
	letter-spacing: 0.1em
	text-transform: uppercase
	transition: all 0.2s ease-in-out
	
	+ .btn
		margin: 0 10px
	&--ghost
		@extend .btn
		border: 2px solid $white
		color: $white
	
		&:hover
			background-color: $red
			border-color: transparent
			color: $white
			
	&--red
		background-color: $red
		color: $white
	
	&--black
		border: 2px solid $black
		color: $black
		&:hover
			border-color: $red
			background-color: $red
			color: $white

// Icons
i.con
	display: inline-block
	
	&.guatemala
		background: url('#{$image-path}/icon-guatemala.png') no-repeat 0 0
		height: 51px
		width: 47px
	&.china
		background: url('#{$image-path}/icon-china.png') no-repeat 0 0
		height: 54px
		width: 64px
	&.short-mission
		background: url('#{$image-path}/icon-short-mission.png') no-repeat 0 0
		height: 51px
		width: 56px
	&.liberia
		background: url('#{$image-path}/icon-liberia.png') no-repeat 0 0
		height: 51px
		width: 44px
	&.senegal
		background: url('#{$image-path}/icon-senegal.png') no-repeat 0 0
		height: 54px
		width: 64px
	&.pin,
	&.pin2,
	&.clock,
	&.calendar,
	&.mail
		background: url('#{$image-path}/sprite-icons.png') no-repeat 0 0
		height: 15px
		width: 11px
	
	&.clock
		background-position: 0 -34px
	&.calendar
		background-position: 0 -66px
	&.mail
		background-position: 0 -98px
	&.pin2
		background-position: 0 -142px
		

	
// Social
.social
	+clearfix
	li
		float: left
		margin-right: 20px

		a
			border-radius: 50%
			background-color: #8c8c8c
			display: block
			position: relative
			height: 30px
			width: 30px
			
			svg
				fill: $white
			&.pinterest
				background-color: #ed1c24
			&.facebook
				background-color: #4874b6
			&.twitter
				background-color: #00aced
			&.google-plus
				background-color: #da4835
			&.youtube
				background-color: #ea1c24
			&.linkedin
				background-color: #007bb6
			
.list-type-number
	display: inline-block
	border: 4px solid $white
	font-size: $font-size-l
	text-align: center
	margin: 0 auto 20px
	line-height: 1.1
	text-transform: uppercase
	height: 50px
	width: 50px

// Special Event Top Banner
.top-banner
	background-color: $darkest-gray
	padding: 10px 50px
	position: absolute
	top: -100px
	left: 0
	width: 100%
	z-index: 1
	p
		color: $white
		font-size: $font-size-s + 2
		text-align: center
		margin-bottom: 0
		text-transform: uppercase
		span
			font-family: Helvetica, Arial, sans-serif
		a
			color: $white
	.close
		display: block
		position: absolute
		top: 0
		bottom: 0
		margin: auto 0
		right: 0
		text-indent: -9999px
		padding: 20px
		background-color: $dark-gray
		&:before,
		&:after
			content: ''
			background-color: $white
			display: block
			height: 15px
			position: absolute
			top: 0
			bottom: 0
			margin: auto
			left: 0
			right: 0
			width: 2px
		&:before
			transform: rotate(40deg)

		&:after
			transform: rotate(-40deg)
// MOBILE AND MOBILE WIDE
+breakpoint(mobile, mobile-wide)

			
+breakpoint(mobile)
	