@-webkit-keyframes heart-rate 
	0%
		left: -10%
	100%
		left: 110%

@-moz-keyframes heart-rate 
	0%
		left: -10%
	100%
		left: 110%
@-o-keyframes heart-rate 
	0%
		left: -10%
	100%
		left: 110%
@keyframes heart-rate 
	0%
		left: -10%
	100%
		left: 110%




@-webkit-keyframes pulse 
	0%
		-webkit-transform: scale(0.9)
		-moz-transform: scale(0.9)
		-o-transform: scale(0.9)
		-ms-transform: scale(0.9)
		transform: scale(0.9)
	
	100%
		-webkit-transform: scale(1)
		-moz-transform: scale(1)
		-o-transform: scale(1)
		-ms-transform: scale(1)
		transform: scale(1)


@keyframes pulse
	0%
		transform: scale3d(1, 1, 1)

	50%
		transform: scale3d(1.06, 1.06, 1.06)

	100%
		transform: scale3d(1, 1, 1)


@keyframes fadeInDownBig
	0%
		opacity: 0
		transform: translate3d(0, -200px, 0)

	100% 
		opacity: 1
		transform: none

@keyframes bounce
	0%, 20%, 53%, 80%, 100%
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
		transform: translate3d(0,0,0)
	
	40%, 43%
		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
		transform: translate3d(0, -30px, 0)

	70%
		animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
		transform: translate3d(0, -15px, 0)

	90%
		transform: translate3d(0,-4px,0)


@keyframes bounceOut
	20%
		transform: scale3d(.9, .9, .9)

	50%, 55%
		opacity: 1
		transform: scale3d(1.1, 1.1, 1.1)

	to
		opacity: 0
		transform: scale3d(.3, .3, .3)
		display: none

@keyframes bounceIn
	from, 20%, 40%, 60%, 80%, to
    	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)

	0%
		opacity: 0
		transform: scale3d(.3, .3, .3)

	20%
		transform: scale3d(1.1, 1.1, 1.1)

	40%
		transform: scale3d(.9, .9, .9)

	60%
		opacity: 1
		transform: scale3d(1.03, 1.03, 1.03)

	80%
		transform: scale3d(.97, .97, .97)

	to
		opacity: 1
		transform: scale3d(1, 1, 1)