
// CONFIG SASS
// ---------------------------------------+
//
// Fonts
@import url("//hello.myfonts.net/count/2e92e3")
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700)
@font-face
	font-family: 'Indie'
	src: url('../webfonts/2E92E3_0_0.eot')
	src: url('../webfonts/2E92E3_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2E92E3_0_0.woff2')	format('woff2'),url('../webfonts/2E92E3_0_0.woff') format('woff'),url('../webfonts/2E92E3_0_0.ttf') format('truetype')

@font-face
	font-family: 'NexaBold'
	src: url('../webfonts/nexa_bold-webfont.eot')
	src: url('../webfonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/nexa_bold-webfont.woff2') format('woff2'), url('../webfonts/nexa_bold-webfont.woff') format('woff'), url('../webfonts/nexa_bold-webfont.ttf') format('truetype'), url('../webfonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'NexaLight'
	src: url('../webfonts/nexa_light-webfont.eot')
	src: url('../webfonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/nexa_light-webfont.woff2') format('woff2'), url('../webfonts/nexa_light-webfont.woff') format('woff'), url('../webfonts/nexa_light-webfont.ttf') format('truetype'), url('../webfonts/nexa_light-webfont.svg#nexa_lightregular') format('svg')
	font-weight: normal
	font-style: normal

// Paths
$image-path: "../images/"

// Fonts / Text
$main-font: 'Lato', sans-serif
$secondary-font: Indie, sans-serif
$heading-font: 'NexaBold', sans-serif


// Margin and Padding
$space-base: 20px


// Colors
$white: #fff
$black: #000
$red: #d32a28
$orange: #f07722

$primary-color: $red

$gray: #f6f6f6
$dark-gray: #7d7d7d
$darkest-gray: #434648

$link-color: $orange
$link-color-hover: darken($primary-color, 20%)

// Typography
$rem-size-base: 14px
$font-size-mobile:  $rem-size-base * 0.5
$font-size-tablet:  $rem-size-base * 0.7
$font-size-desktop: $rem-size-base

$font-size-xxl:  95px
$font-size-xl:   55px
$font-size-l:    35px
$font-size-m:    18px
$font-size-s:    14px
$font-size-xs:   12px

// Vendor Prefixes
$vendor-prefixes: webkit ms moz o

//Breakpoints
$breakpoints: widescreen desktop tablet mobile-wide mobile

$widescreen-breakpoint-max: 9999px
$widescreen-breakpoint-min: 1200px

$desktop-breakpoint-max: 1199px
$desktop-breakpoint-min: 960px

$tablet-narrow-breakpoint-max: 959px
$tablet-narrow-breakpoint-min: 769px

$mobile-wide-breakpoint-max: 768px
$mobile-wide-breakpoint-min: 481px

$mobile-breakpoint-max: 480px
$mobile-breakpoint-min: 1px