
// MIXINS SASS
// ---------------------------------------+
//

/**
 * Clearfix Mixin
 * The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
 * is implemented with the grid, see: styles/base/_grid.sass
 * use: +clearfix()
 */
=clearfix
	&:before
		content: ""
		display: table
	&:after
		content: " "
		display: table
		clear: both
		*zoom: 1
/**
 *  Vendor Prefixing - Property, Value, All
 */

// Property : Prefix Property only
=vendor-prefix-property( $property, $value, $vendors: $vendor-prefixes )
	$property: unquote($property)
	$value: unquote($value)

	@each $prefix in $vendors
		-#{$prefix}-#{$property}: $value

	#{$property}: $value

// Value : Prefix Value only
=vendor-prefix-value( $property, $value, $vendors: $vendor-prefixes )
	$property: unquote($property)
	$value: unquote($value)

	@each $prefix in $vendors
		#{$property}: -#{$prefix}-$value

	#{$property}: $value

// All : Prefix both the property and the value
=vendor-prefix-all( $property, $value, $vendors: $vendor-prefixes )
	$property: unquote($property)
	$value: unquote($value)

	@each $prefix in $vendors
		-#{$prefix}-#{$property}: -#{$prefix}-$value

	#{$property}: $value

/**
 *  Accelerate - Force GPU rendering
 *  This mixin depends on the Vendor Prefixing mixins!
 */
=accelerate()
	@include vendor-prefix-property(transform, translate3d(0,0,0))
	@include vendor-prefix-property(backface-visibility, hidden)
	@include vendor-prefix-property(perspective, 1000)

/**
 *  Opacity - Cross browser opacity + IE8
 *  This mixin depends on the Vendor Prefixing mixins!
 */
=opacity($value)
	opacity: $value
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $value * 100+ ")"
	filter: alpha(opacity= $value * 100)

/**
 *  Breakpoint(s)
 */
=breakpoint($breakpoints...)

	$breakpoint-min: $desktop-breakpoint-min
	$breakpoint-max: $desktop-breakpoint-max

	@each $breakpoint in $breakpoints

		@if $breakpoint == mobile
			$breakpoint-min: $mobile-breakpoint-min
			$breakpoint-max: $mobile-breakpoint-max

		@else if $breakpoint == mobile-wide
			$breakpoint-min: $mobile-wide-breakpoint-min
			$breakpoint-max: $mobile-wide-breakpoint-max

		@else if $breakpoint == tablet
			$breakpoint-min: $tablet-narrow-breakpoint-min
			$breakpoint-max: $tablet-narrow-breakpoint-max

		@else if $breakpoint == desktop
			$breakpoint-min: $desktop-breakpoint-min
			$breakpoint-max: $desktop-breakpoint-max

		@else if $breakpoint == widescreen
			$breakpoint-min: $widescreen-breakpoint-min
			$breakpoint-max: $widescreen-breakpoint-max

		@media (min-width: $breakpoint-min) and (max-width: $breakpoint-max)
			@content