
// UTILITY CLASSES SASS
// ---------------------------------------+
//
.left
	float: left
.right
	float: right
// Hide copy but maintain accessibility
.offscreen
	position: absolute
	left: -9999px

.text-center
	text-align: center

%absolute-center
	margin: auto
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0

%table-center
	display: table

%table-cell
	display: table-cell
	vertical-align: middle
// For IE8 and below we need to set some defaults
// Also note that we could also have hidden-tablet, hidden-mobile-wide, hidden-mobile-widescreen etc ...
// But I have never had the need for these
.hidden-mobile
	display: block

.visible-mobile
	display: none

+breakpoint(mobile, mobile-wide)

	.hidden-mobile
		display: none !important

	.visible-mobile
		display: inherit !important


+breakpoint(desktop)

	.hidden-mobile
		display: inherit !important

	.visible-mobile
		display: none !important