.beliefs
	text-align: center
	h2
		font-size: $font-size-l
		font-family: $secondary-font
		color: $dark-gray
	p
		max-width: 300px
		margin: 0 auto
	.blade
		padding: 50px 0
		&:before
			@extend %absolute-center
			content: ''
			display: block
			height: 70%
			width: 1px
			background-color: $dark-gray
		&.red
			background-color: $red
			color: $white
			h2
				color: $white
			&:before
				background-color: $white
	+breakpoint(mobile, mobile-wide)
		.blade
			&:before
				display: none
			p
				margin-bottom: 40px