.core-values
	.right
		float: right
	.blade
		&:nth-child(even)
			background-color: $gray
			.value-icon
				span
					float: right

	.center
		min-height: 230px
		&__cont
			position: absolute
			top: 50%
			transform: translateY(-50%)
	
	h3
		color: $red
		font-family: $heading-font
		font-size: $font-size-m
		margin-bottom: 0
		text-transform: uppercase
	h2
		display: inline-block
		text-align: center
		vertical-align: middle
		margin: 0
		height: 104px
		line-height: 122px
	p
		margin-bottom: 0 
	i.con
		background: url($image-path+'/sprite-core-values.png') no-repeat center 0 $red
		background-size: 75px
		height: 104px
		margin: 0
		width: 104px
		display: inline-block
		vertical-align: middle

		&.belong
			background-position: center 15px
		&.worship
			background-position: center -85px
		&.community
			background-position: center -180px
		&.instruction
			background-position: center -280px
		&.prayer
			background-position: center -375px
		&.service
			background-position: center -475px
		&.stewardship
			background-position: center -574px
//	p
//		width: 70%
.value-icon
	font-family: $heading-font
	color: $dark-gray
	margin-left: 0
	font-size: 155px
	line-height: 125px
	width: 110px
		
+breakpoint(tablet)
	.core-values
		.value-icon
			width: 100px
			font-size: 100px
			line-height: 120px
			height: 104px
		
			
		
+breakpoint(mobile-wide, mobile)
	.core-values
		.blade
			padding: 25px 0
		.right
			float: none
		.center
			min-height: initial
			margin-bottom: 30px
			&__cont
				text-align: center
				position: initial
				transform: initial
				width: 100%
		.value-icon
			width: 100px
			font-size: 100px
			line-height: 120px
			height: 104px
		.icon
		