.events
	overflow: hidden
			
	&__img
		padding: 0
		margin: 0
		display: block
		position: relative
		width: 100%

	&__text
		padding: 20px 40px
		position: relative
		max-width: 600px
		min-height: 310px
		
		h3
			margin: 10px 0 0
			font-size: $font-size-m
			font-family: $heading-font
			color: $darkest-gray
			text-transform: uppercase
		.social
			a
				background-color: $red
		ul.info
			li
				position: relative
				padding: 0 0 15px 30px
				p
					margin-bottom: 0
				i.con
					position: absolute
					left: 0
					top: 3px
				a
					color: $red
					text-decoration: underline
	&__row
		+clearfix
		margin: 0 auto
		max-width: 1200px
		> li
			float: left
			width: 50%
			margin-bottom: 40px
	
+breakpoint(mobile-wide, mobile)
	.events
		&__text
			max-width: 100%
		&__row
			> li
				width: 100%