body.home
	overflow: hidden

	.header,
	.footer
		display: none
	.video-wrapper
		background-color: purple
		position: absolute
		top: 0
		left: 0
		right: 0
		margin: auto
		overflow: hidden
		height: 100vh
		width: 100%
		z-index: 1
	video
		
		min-width: 1200px
		width: 100%
		opacity: 0.7


.center-container
	&.welcome
		background: url('#{$image-path}/lines-front-page.png') no-repeat center top transparent
		color: $white
		height: 380px
		padding-top: 80px
		text-align: center
		max-width: 500px
	
		width: 100%
		z-index: 2
		h2
			font-size: $font-size-xxl
			font-family: $secondary-font
			line-height: 1
			span
				display: block
				font-family: $heading-font
				font-size: $font-size-xl
				text-transform: uppercase
		a
			margin: 30px 10px 0
			
		.logo
			display: inline-block
			margin: 20px auto 0
			width: 150px
+breakpoint(mobile)
	.center-container
		&.welcome
			padding-top: 67px
			background-size: 390px
			h2
				font-size: $font-size-xxl - 15px
				span
					font-size: $font-size-xl - 10px
			.logo
				margin-top: 10px