.blade.blade--grid-3
	min-height: initial
	padding: 50px 0
	h2
		font-size: $font-size-l
	.container
		> div:nth-child(2)
			border-right: 1px solid $darkest-gray
			border-left: 1px solid $darkest-gray
	+breakpoint(mobile,mobile-wide)
		.container
			> div:nth-child(2)
				border: 0 none