section.history
	.blade
		text-align: center
		padding: 50px 0
		color: $darkest-gray
		&:nth-child(odd)
			background-color: $darkest-gray
			color: $white
		&.featured
			padding: 0
			color: $white
			> img
		
		h2
			font-family: $heading-font
			
			font-size: $font-size-xl + 15
			line-height: 1.0
			margin-bottom: 30px
		p
			font-style: italic
			width: 630px
			margin: 0 auto
		&.red
			background-color: $red
			padding: 60px 0
			color: $white
			h2
				font-family: $secondary-font
			.btn:hover
				background-color: $white
				color: $red

		&__small
			padding: 30px 0
			min-height: initial
		&__cont
			@extend %table-center
			@extend %absolute-center
			width: 100%

.blade__center
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: 0
	right: 0
dl.program-list
	margin: 0 0 0 10px
	dt
		padding-left: 10px
		position: relative
		text-transform: uppercase
		margin-bottom: 7px
		&:before
			content: ''
			background-color: $dark-gray
			position: absolute
			left: 0
			top: 5px
			display: block
			border-radius: 50%
			height: 5px
			width: 5px
	dd
		margin: 0 0 7px
		font-style: italic
p.text-center
	text-align: center
	font-style: italic
	max-width: 630px
	margin: 0 auto  20px
.separator
	@extend %absolute-center
	background-color: $dark-gray
	margin: 0 auto
	height: 90%
	width: 1px


+breakpoint(tablet)
	.blade.featured
		overflow: hidden
		> img
			min-height: 500px
			-webkit-transform: translateY(0) translateX(-25%)
			width: auto

	
+breakpoint(mobile-wide, mobile)
	section.history
		
		.blade
			p
				padding: 0 20px
				width: 100%
			&--columns
				article
					width: 100%
					padding: 0 20px
					margin: 0
			&.red
				h2
					font-size: $font-size-xl
					padding: 0 20px
			.separator
				display: none
			&.featured
				overflow: hidden
				> img
					min-height: 400px
					width: auto
					-webkit-transform: translateY(0) translateX(-33%)