
// HOME VIEW
// ---------------------------------------+
//
.placeholder
	background: url('#{$image-path}/placeholder-bg.jpg') no-repeat center center
	background-size: cover
	text-align: center
	color: $white
	height: 100%
	position: absolute
	top: 0
	bottom: 0
	margin: auto
	width: 100%
	.inner
		position: absolute
		top: 50%
		transform: translateY(-50%)
		width: 100%
		h2
			color: $white
			text-align: center
			font:
				family: $secondary-font
				weight: normal
			+breakpoint(mobile-wide, mobile)
				font-size: $font-size-xl
		p
			padding-top: 20px
	+breakpoint(mobile-wide, mobile)
		.btn
			margin-bottom: 10px
	
.hero
	position: relative
	text-align: center
	overflow: hidden
	.slick-prev,
	.slick-next
		@extend .arrow-bottom
		border: 0 none
		position: absolute
		top: 0
		bottom: 0
		margin: auto 0
		text-indent: -9999px
	.slick-prev
		left: 2%
		-webkit-transform: rotate(90deg)
		-moz-transform: rotate(90deg)
		-ms-transform: rotate(90deg)
		transform: rotate(90deg)
	.slick-next
		right: 2%
		-webkit-transform: rotate(-90deg)
		-moz-transform: rotate(-90deg)
		-ms-transform: rotate(-90deg)
		transform: rotate(-90deg)
	> img
		@extend .full-width-img
		height: auto
	&--inner
		position: relative
	
	&__wrapper
		position: absolute
		top: 50%
		transform: translateY(-50%)
		margin: 0 auto
		width: 100%
	&__cont 
		margin: 0 auto
	
	&__cta
		display: block
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		z-index: 3

	.center-container
		height: 210px
		max-width: 650px
		width: 100%

	h2, h3
		color: $white
		text-align: center
		font:
			family: $secondary-font
			weight: normal
	h2
		font-size: $font-size-xxl
		display: inline-block
		position: relative
		&:before,
		&:after
			border-top: 1px solid $white
			bottom: 0
			content: ''
			display: block
			position: absolute
			margin: auto 0
			height: 1px
			top: 0
			width: 100px
			z-index: 2

		&:before
			left: -150px
			right: initial
		&:after
			left: initial
			right: -150px
	h3
		font-size: $font-size-l
		line-height: 0
		margin-bottom: 30px
	.btn-scroll
		display: block
		color: $white
		text-align: center
		
	
		&:before
			content: ''
			@extend .arrow-bottom
			margin: 2% auto 20px
			animation: bounce 2s infinite
	p
		color: $white
		font-size: $font-size-m - 2
		text-align: center
		font-style: italic
		max-width: 630px
		margin: 0 auto
		+breakpoint(mobile-wide, mobile)
			font-size: $font-size-s
			padding: 0 20px
	
	img.center
		display: inline-block
	.btn
		margin-top: 10px
	i.con
		display: block
		margin: 20px auto 0
		&.cross
			background: url('#{$image-path}/icon-beliefs.png') no-repeat center center
			height: 45px
			width: 36px
		&.liberian
			background: url('#{$image-path}/icon-hero-liberian.png') no-repeat center center
			height: 51px
			width: 44px
		&.family-night
			background: url('#{$image-path}/icon-family-night.png') no-repeat center center
			height: 42px
			width: 34px
.banner
	position: relative
	width: 100%
	&--services
		@extend .banner
		color: $darkest-gray
		padding: 100px 20px
		text-align: center
		.container
			@extend %table-center
			width: 100%
			padding-right: 0
			max-width: 1170px
		h2
			font:
				size: $font-size-xxl
				weight: normal
				family: $secondary-font
			line-height: 0.8
			
		h3
			font-size: $font-size-xl
			font-family: $heading-font
			text-transform: uppercase
			border-bottom: 1px solid $darkest-gray
			display: inline-block
		p
			text-transform: uppercase
		+breakpoint(tablet)
			h2
				font-size: $font-size-xl
			h3
				font-size: $font-size-l
			
	&__cont
		@extend %table-cell
		width: 50%
	&__video
		@extend %table-cell
		position: relative
		width: 50%
		overflow: hidden
		video
			width: 100%
		.play
			@extend %absolute-center
			border: 0 none
			background: url('#{$image-path}icon-play-gray.png') no-repeat 0 0 transparent
			height: 98px
			width: 98px
			z-index: 3
	+breakpoint(mobile-wide,mobile)
		.container
			display: block
			padding-left: 0
		.banner__cont,
		.banner__video
			display: block
			width: 100%
			padding-top: 30px
		.banner__video
			video
				width: 100%
		h2
				font-size: $font-size-xl
		h3
			font-size: $font-size-l
	p
		margin: 0

.blade
	position: relative
	width: 100%

	video
		width: 100%
		//position: absolute
		//top: 0
		//left: 0
		//z-index: 0
		

	&.feature-video
		background: url('#{$image-path}/Calvary_Church-watch-our-series.jpg') no-repeat center top $black
		background-size: cover
		overflow: hidden
		> img
			position: absolute
			top: 0
			left: 0
			width: 100%
			z-index: 2
		+breakpoint(mobile-wide, mobile)
			> img
				left: 50%
				margin-left: -500px
				height: 456px
				width: 1073px
		+breakpoint(desktop, tablet)
			> img
				left: 50%
				margin-left: -600px
				height: 510px
				width: 1200px
	.feature-video-content
		position: absolute
		top: 50%
		transform: translateY(-50%)
		text-align: center
		width: 100%
		z-index: 1
		h2
			color: $white
			line-height: 0.8
			margin-bottom: 20px
			font-size: $font-size-xl
			font-weight: bold
			strong
				display: block
				font:
					family: $secondary-font
					size: $font-size-xxl
					weight: normal

			.btn
				margin: 0 5px
	&.events
		background-size: cover
		color: $white
		overflow: hidden
		text-align: center
		padding: 40px 0
		h2
			margin-bottom: 10px
			font-size: $font-size-xl
			font-weight: bold
			line-height: 0.9
			text-transform: uppercase
			
		h3
			margin-top: 20px
			font-size: $font-size-m
			font-weight: bold
			text-transform: uppercase
		.slide
			position: relative
			width: 100%
			&-content
				margin: 0 auto
				max-width: 460px
				position: relative
				width: 100%
				z-index: 1
				
	
		.slick-prev,
		.slick-next
			@extend .arrow-bottom
			border: 0 none
			position: absolute
			top: 0
			
			margin: auto 0
			text-indent: -9999px
		.slick-prev
			left: 10%
			-webkit-transform: rotate(90deg)
			-moz-transform: rotate(90deg)
			-ms-transform: rotate(90deg)
			transform: rotate(90deg)
		.slick-next
			right: 10%
			-webkit-transform: rotate(-90deg)
			-moz-transform: rotate(-90deg)
			-ms-transform: rotate(-90deg)
			transform: rotate(-90deg)
	&.signup
		@extend %table-center
		color: $white
		background: url('#{$image-path}/Calvary_Church-Band.jpg') no-repeat center top $black
		background-size: cover
		height: 380px
		text-align: center
		.blade-content
			@extend %table-cell
	
	&.signup--connect
		@extend .signup
		background: none $darkest-gray
	.signup__form
		max-width: 460px
		margin: 30px auto
	.signup__title
		margin-bottom: 10px
		font:
			size: $font-size-xxl
			weight: normal
			family: $secondary-font
		line-height: 0.9
		margin-bottom: 20px
		+breakpoint(mobile, mobile-wide)
			font-size: $font-size-xl
	.signup__text
		font-style: italic
		font-size: $font-size-m
		margin: 0 auto 20px
		max-width: 500px
	.signup__field
		border-radius: 2px 0 0 2px
		background-color: $white
		border: 0 none
		display: inline-block
		font-size: $font-size-s
		margin-bottom: 0
		padding: 12px 10px
		margin-right: 5px
		vertical-align: middle
		max-width: 300px
	.signup__btn
		vertical-align: middle
		display: inline-block
// TABLET
// ---------------------------------------+
+breakpoint(tablet)
	.hero
		h2
			font-size: $font-size-xl + 20px
	.blade
		&--services
			.banner__cont
				display: block

		&.feature-video
			overflow: hidden
			video
				left: 50%
				height: 510px
				margin-left: -185px
				width: auto
		&.events
			.slide
				img
					height: 480px
					width: auto
				
// MOBILE & MOBILE WIDE
// ---------------------------------------+
+breakpoint(mobile,mobile-wide)
	.hero
		width: 100%
		overflow: hidden
		> img
			width: 1000px
			position: relative
			left: 50%
			margin-left: -500px 
				
		h2
			font-size: $font-size-xl - 10px
			padding: 0 10%
			
		.btn-scroll
			&:before
				margin-top: 5%
	.banner
		&--services
			height: auto
			padding-top: 10px
			text-align: center
			.banner__cont
				display: block
				height: auto
			h2
				font-size: $font-size-xl - 10px
				text-align: center
	
	.blade
		&.feature-video
			overflow: hidden
			height: 400px
			video
				left: 50%
				height: 400px
				margin-left: -200px
				width: auto
	
		&.signup
			p
				font-size: $font-size-s
				padding: 0 10%
			form
				max-width: 300px
				margin: 0 auto
				.btn
					float: none
					margin-top: 20px
					display: inline-block
	
		&.events
			.slide
				img
					height: 480px
					width: auto
					left: -50%
					
			.slick-prev
				left: 10px
			.slick-next
				right: 10px
			.slide-content
				p
					padding: 0 15%
				blockquote
					padding: 0 15%
					margin: 10px 0
	
	
+breakpoint(mobile)
	.blade
		&.feature-video
			video
				margin-left: -300px
	
	
	
	
	
	
	
	
	