section.iglesia-calvario 
	.blade
		text-align: center

		&.featured
			padding: 50px 0

		h2
			font-family: $secondary-font
			font-size: 70px
			line-height: 1.0

		&.red
			background-color: $red
			padding: 60px 0
			color: #fff

			h2
  				font-family: $secondary-font

		article
			display: inline-block
			vertical-align: top
			margin: 0 20px 0
			text-align: left
			width: 310px
			color: #7d7d7d

		strong
			font: 100 20px $secondary-font

		&--columns
			padding-top: 60px
			padding-bottom: 60px

			.container
				position: relative

		&.feature-video 
			.play
				@extend %absolute-center
				border: 0 none
				background: url($image-path+"icon-play.png") no-repeat 0 0 transparent
				height: 83px
				width: 84px
				z-index: 3
		&--grid
			h2
				position: absolute
				top: 50%
				left: 0
				right: 0
				maring: auto
				transform: translateY(-50%)
.blade__small
	padding: 30px 0
.services-time
	text-align: center
	max-width: 630px
	margin: 0 auto
	padding-top: 20px
	dd,
	dt
		margin: 0
		padding: 0
	dt
		text-transform: uppercase
		
	dd
		border-bottom: 1px solid $darkest-gray
		padding-bottom: 10px
		font-style: italic
		margin: 0 0 10px
		&:last-child
			border-bottom: 0 none
	
		
		
