.kidzone
	.blade
		
		@extend %table-center
		min-height: 330px
		text-align: center
		h2
			font-family: $secondary-font
			font-size: $font-size-xl + 10
			line-height: 1.0
			&.title-email
				font-size: $font-size-l + 10
			+breakpoint(tablet)
				font-size: $font-size-xl
			+breakpoint(mobile-wide, mobile)
				font-size: $font-size-l
		h3
			font-family: $heading-font
			font-size: $font-size-m
			text-transform: uppercase
		p
			max-width: 630px
			padding: 0 20px
			margin: 0 auto 10px
			font-style: italic

			a:not(.btn)
				color: $dark-gray
		.secondary-title
			text-transform: uppercase
			font-family: $heading-font
			font-size: $font-size-m + 4
		.contact-links
			text-align: center
			color: $red
			a
				color: $red
				display: block
		&.featured
			h2
				font-size: $font-size-xl
		&.featured-red
			background-color: $red
			min-height: auto
			padding: 50px 0
			position: relative
			color: $white
			z-index: 2
		&.featured-gray
			background-color: $white
			min-height: auto
			padding: 50px 0
			position: relative
			color: $dark-gray
			z-index: 2
		&.top-space
			padding-top: 100px
			+breakpoint(mobile-wide, mobile, tablet)
				padding-top: 0
		&.signup--connect
			height: 280px
			min-height: initial
		&.red
			background-color: $red
			color: $white

		&.gray
			background-color: $darkest-gray
			color: $white
		&__small
			padding: 50px 0
			min-height: initial
			h2
				font-size: $font-size-xl
		&__cont
			@extend %table-cell
	
		&__col
			display: inline-block
			vertical-align: top
			padding-top: 25px
			max-width: 370px
			margin: 0 40px
			width: 100%
			h2
				font-size: $font-size-l
		&--columns
			min-height: 250px
			padding: 35px 0 35px 0
			i.con
				margin-top: 20px
				margin-bottom: 30px
		
		
	.wrap-img
		position: relative
		color: $white
		.blade
			@extend %absolute-center
	.separator
		margin: auto
		height: 70%
	
	.text-small
		font-size: $font-size-m + 4

.blade
	&--red
		background-color: $red

		.btn:hover
			background-color: $white
			color: $red

	&.side-video
		.side-video__media
			position: relative
			img
				position: absolute
				top: 0
				width: auto
				&.left
					right: 30px
		.side-video__text
			padding: 60px 0
			h2, h3
				margin: 0
				line-height: 1
				font-family: $heading-font
				text-transform: uppercase
			h2
				color: $red
				font-size: $font-size-xxl
				font-weight: bold
				+breakpoint(tablet)
					font-size: $font-size-xl
				+breakpoint(mobile, mobile-wide)
					font-size: $font-size-l
			h3
				font-size: $font-size-m
				font-family: $heading-font
			p
				padding: 0
				margin: 0 auto 20px
	&.side-images
		min-height: 250px !important
		.side-images__media
			position: relative
			img
				position: absolute
				top: 0
				width: auto
				&.left
					right: 30px
				&.right
					left: 30px
		.side-images__text
			padding-top: 35px
			p
				padding: 0 20%
		+breakpoint(tablet)
			overflow: hidden
			.side-images__text
				h2
					font-size: $font-size-l
				p
					padding: 0
		+breakpoint(mobile-wide, mobile)
			overflow: hidden
			.side-images__text
				padding-bottom: 40px
				h2
					font-size: $font-size-l
				p
					padding: 0
			.side-images__media
				height: 75vw
				img,
				img.right
					left: -5vw
					width: 116%
	&--grid
		ul
			+clearfix
			> li
				float: left
				position: relative
				width: 50%
				background-color: $black
				img
					opacity: 0.7
				h2
					@extend %table-cell
					color: $white
					font-size: $font-size-xl + 15px
					font-family: $secondary-font
					+breakpoint(tablet)
						font-size: $font-size-xl
					+breakpoint(mobile-wide, mobile)
						font-size: $font-size-xl
				+breakpoint(mobile-wide, mobile)
					width: 100%
					
	&.featured-headline
		text-align: center
		h2
			background-color: $red
			padding: 80px 0 0
			font-family: $heading-font
			text-transform: uppercase
			color: $white
			line-height: 0.5
			overflow: hidden
			margin: 0 0 50px
			width: 100%
		h3
			margin: 0
			line-height: 1
			font-family: $heading-font
			text-transform: uppercase
			font-size: $font-size-m
			font-family: $heading-font
		p
			max-width: 630px
			padding: 0 20px
			margin: 0 auto 80px
	
	.pattern-splash
		background: url('#{$image-path}/arts-splash.png') no-repeat center -25px transparent
		background-size: contain
		padding: 100px 50px 0
		margin: 0 auto
		height: 527px
		max-width: 542px
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 0
		right: 0
		margin: auto
		
		h2
			font-size: $font-size-xl
		+breakpoint(mobile-wide, mobile)
			background-size: 500px
		+breakpoint(mobile)
			h2
				font-size: $font-size-l
			p
				padding: 0
				font-size: $font-size-xs
	&--contact
		background-color: $darkest-gray
		color: $white
		padding: 40px 0
		p
			+clearfix
			margin-bottom: 20px
		label
			text-transform: uppercase
			display: inline-block
			color: $gray
			text-align: right
			width: 30%
			margin: 0
			padding-right: 20px
			font-style: normal
		input,
		textarea
			float: right
			display: inline-block
			margin: 0
			width: 68%
		.wpcf7-not-valid-tip
			float: right
			clear: both
		.wpcf7-response-output
			margin: 0 auto
			max-width: 630px
			width: 100%
		+breakpoint(mobile)
			label
				display: block
				text-align: left
				margin-bottom: 10px
			input,
			textarea
				float: none
				margin-bottom: 10px
				width: 100%
	#map-canvas
		height: 400px
	&--office
		padding: 40px 0
		h2
			font-family: $secondary-font
			font-size: $font-size-xl + 20px
			color: $red
			span
				display: block
				text-indent: 20px
			+breakpoint(mobile, mobile-wide)
				text-align: center
				span
					display: inline
		p
			padding: 0 20px
			text-align: left
			margin-bottom: 15px
		hr
			margin-bottom: 15px

	.full-width-list
		> li
			@extend %table-center
			position: relative
			width: 100%
			&:nth-child(odd)
				background-color: $red
				color: $white
			&:nth-child(even)
				background-color: $white
				.full-width-list__info
					.btn
						@extend .btn--black
						&:hover
							color: $white
		&__info,
		&__media
			@extend %table-cell
			width: 50%

			
		&__media
			position: relative
			width: 100%
			img
				z-index: 2
				position: relative
				transition: all 0.3s
				&.active
					opacity: 0
					z-index: -1
		&__info
			text-align: left
			padding: 0 5% 0 10%
			transition: all 0.3s ease-in-out
			p
				padding: 0
				margin: 0 0 20px
		.volunteer-form
			+clearfix
			color: $white
			display: none
			
			background-color: $darkest-gray
			text-align: left
			padding: 40px 0
			width: 100%
			
			.wpcf7-response-output
				clear: both
				padding: 20px
				margin: 10px
				text-align: center
			.wpcf7-not-valid-tip
				text-align: right
				width: 100%
				font-size: $font-size-s
				font-family: $main-font
				clear: both
			+breakpoint(tablet)
				> div 
					padding-bottom: 40px
			+breakpoint(tablet, mobile-wide, mobile)
				> div 
					padding-bottom: 40px
			+breakpoint(tablet, mobile-wide, mobile)
				h3
					font-size: $font-size-l
				.checkboxes
					&:before
						display: none
				label.option
					padding: 0 0 5px 0px
	
				p
					padding: 0
			h3
				font-family: $secondary-font
				font-size: $font-size-l
				font-weight: 100
				text-transform: none
			
			.checkboxes
				position: relative
				&:before
					content: ''
					display: block
					background-color: $white
					position: absolute
					right: 8%
					top: 0
					bottom: 0
					height: 90%
					margin: auto 0
					width: 1px
			label.option
				padding: 0 0 10px 20px
				display: block
			.fields
				max-width: 540px

				+clearfix
				label
					+clearfix
					display: block
					padding-bottom: 10px
					font-family: $secondary-font
					font-size: $font-size-m + 8
					
					span.label
						float: left
						width: 20%
				input[type="text"],
				input[type="email"]
					float: right
					max-width: 400px
					width: 100%
			button[type="submit"]
				float: right
				clear: both
		.volunteer-info
			position: relative
			width: 100%
			z-index: 1
			
			> form
				@extend %table-cell
			label
				width: 20%
				margin-right: 5%
				float: left
			input
				width: 75%
		+breakpoint(mobile-wide, mobile)
			display: block
			.full-width-list__media,
			.full-width-list__info
				display: block
				width: 100%
			h2
				font-size: $font-size-l
	
			.full-width-list__info
				padding: 40px 20px
				text-align: left
				p
					text-align: left
		+breakpoint(tablet)
			h2
				font-size: $font-size-l
	
	.give-steps
		color: $dark-gray
		li
			display: inline-block
			max-width: 160px
			margin: 0 30px
			vertical-align: top
			position: relative
			width: 33%
			&:nth-child(2)
				&:before,
				&:after
					content: ''
					display: block
					position: absolute
					top: 50px
					background-color: $dark-gray
					height: 1px
					width: 140px
				&:before
					left: -110px
				&:after
					right: -110px
		h3
			font-size: $font-size-xxl
	.team-grid
		+clearfix
		background-color: $darkest-gray
		&__info
			padding: 65px 0 0 0
			color: $white

		h2
			margin-bottom: 10px
			font-size: $font-size-s
			font-weight: bold
			text-transform: none
			text-align: center
			font-family: $main-font
			text-transform: uppercase
		h3
			font-family: $main-font
			font-size: $font-size-s
			font-weight: 100
			margin-bottom: 5px
			text-transform: uppercase
		p
			font-size: $font-size-xs
			margin-bottom: 5px
		a
			color: $white
			font-size: $font-size-xs
		img
			max-width: 100%
			width: 100%
		li
			float: left
			position: relative
			text-align: center
			width: 25%
			overflow: hidden
			+breakpoint(widescreen)
				width: 20%
			+breakpoint(tablet)
				width: 33.33%
			+breakpoint(mobile-wide)
				width: 50%
			+breakpoint(mobile)
				width: 100%

			figure
				position: relative
				float: left
				overflow: hidden
				margin: 0
				min-width: 100%
				max-width: 480px
				height: auto
				text-align: center

				img
					position: relative
					display: block
					height: auto
					max-width: 100%

	
			figcaption
				padding: 2em
				color: #fff
				background: url($image-path+'/staff-separator.png') no-repeat right center
				min-height: 155px
				&::before,
				&::after
					pointer-events: none

	.tabs-links
		text-align: center

		li
			display: inline-block
			position: relative
			
			width: 120px
			
			&:after
				position: absolute
				top: 0
				bottom: 0
				width: 1px
				margin: auto 0
				background-color: $white
				content: ''
				display: block
				height: 30px
				right: 0
			&:last-child
				&:after
					display: none
		a
			color: $white
			display: block
			text-transform: uppercase
			font-size: $font-size-s
			font-family: $heading-font
			
	.tabs-videos
		+clearfix
		text-align: center
		li
			display: inline-block
			width: 25%
			margin-bottom: -3px
			background-color: $red
			transition: all 0.3s ease-in-out
			&:hover
				h2
					top: -50%
				.btn
					opacity: 1
				img
					opacity: 0.6
			&.active
				animation: bounceIn 1s 1 forwards
			&.hidden
				animation: bounceOut 1s 1 forwards
				
		figure
			margin: 0
			position: relative
		h2
			@extend %absolute-center
			color: $white
			font: bold $font-size-m $main-font
			height: 20px
			text-transform: uppercase
			text-shadow: 0 0 4px rgba(0,0,0,0.7)
			transition: all 0.35s
		img
			width: 100%
			opacity: 1
		.btn
			@extend %absolute-center
			opacity: 0
			transition: all 0.35s
			height: 43px
			width: 150px

		figcaption
			@extend %absolute-center
		+breakpoint(tablet)
			li
				width: 33.33%
		+breakpoint(mobile-wide)
			li
				width: 50%
		+breakpoint(mobile)
			li
				width: 100%
				
	.list-single-series
		> li
			color: $darkest-gray
			text-align: left
			padding: 45px 0
			&:nth-child(odd)
				.btn
					border-color: $red
					color: $red
			&:nth-child(even)
				background-color: $darkest-gray
				color: $white
				h2,
				ul li:first-child
					color: $white
				p.controls
					border-left: 1px solid $white
			h2
				float: left
				font-family: $heading-font
				margin-right: 5%
				color: $red
				width: 20%
			ul
				float: left
				padding-top: 5px
				width: 75%
				li
					text-transform: uppercase
					
					&:first-child
						color: $red
					> p
						font-style: italic
						text-transform: none
						padding: 0
						font-size: $font-size-xs
			.controls
				max-width: 210px
				padding-left: 50px
				border-left: 1px solid $darkest-gray
				margin: 12px 0 0 15%
				.btn
					font-style: normal
					display: block
					margin: 0 0 10px
					width: 140px
					text-align: center
					&:hover
						color: $white
			
			+breakpoint(mobile-wide, mobile)
				text-align: center
				h2
					display: inline-block
					float: none
				ul
					float: none
					display: inline-block
					text-align: left
				.controls
					padding: 0
					max-width: 100%
					border: 0 none
					margin: 0
					.btn
						display: inline-block
						margin: 0 5px 10px
.feature-arts
	background-color: $white
	position: relative
	z-index: 2
.image-cta
	position: absolute
	bottom: 4vw
	left: 0
	right: 0
	margin: 0 auto
	width: 190px

.board-members
	position: relative
	text-align: center
	margin: 40px 0
	&:before
		@extend %absolute-center
		border-right: 1px solid $darkest-gray
		border-left: 1px solid $darkest-gray
		content: ''
		display: block
		height: 100%
		width: 3px
	> ul
		display: inline-block
		width: 200px
		> li
			position: relative
			font:
				family: $secondary-font
				size: $font-size-m + 4
			padding-bottom: 10px
			margin-bottom: 10px
				
			&:last-child
				margin-bottom: 0
				padding-bottom: 0
				&:after
					display: none
			&:after
				content: ''
				background-color: $darkest-gray
				position: absolute
				bottom: 0
				right: 0
				left: 0
				margin: auto
				height: 1px
				width: 60%
				
+breakpoint(mobile)
	section.kidzone
		.wrap-img
			> img
				transform: translateY(0) translateX(-50%)
+breakpoint(tablet)
	section.kidzone
		.separator
			display: none
		.blade
			&__col
				max-width: 50%
		.wrap-img
			overflow: hidden
			> img
				min-height: 500px
				transform: translateY(0) translateX(-25%)
				width: auto
	
+breakpoint(mobile-wide, mobile)
	section.kidzone
		
		.blade
			&__col
				max-width: initial
				margin: 0
			p
				max-width: initial
		.separator
			display: none
			height: 1px
			width: 80%
			transition: width 0.3s ease-in-out
		.blade
			&__col
				width: 100%
			&.red
				h2
					font-size: $font-size-l

		.wrap-img
			overflow: hidden
			> img
				min-height: 400px
				width: auto
				transform: translateY(0) translateX(-33%)
				
	.blade
		&.side-video
			overflow: hidden
			.side-video__media
				height: 350px
				img
					left: 50%
					transform: translateX(-50%)
					width: 500px