.blade
	
	article
		display: inline-block
		vertical-align: top
		margin: 0 20px 20px
		text-align: left
		width: 310px
		strong
			font: 100 $font-size-m + 2 $secondary-font
	&--columns
		padding-top: 60px
		padding-bottom: 60px
		.container
			position: relative
	&.feature-video
		.play
			@extend %absolute-center
			border: 0 none
			background: url('#{$image-path}/icon-play.png') no-repeat 0 0 transparent
			height: 83px
			width: 84px
			z-index: 3
		
	+breakpoint(mobile-wide, mobile)
		.country
			padding-bottom: 30px