.values
	.title-value
		font-size: $font-size-xl
		font-family: $secondary-font
		color: $dark-gray
		line-height: 110px
		margin: 0
		border-right: 1px solid $darkest-gray
		margin: 20px 0
		text-align: right
		padding-right: 50px
	.blade
		overflow: hidden
		&:nth-child(odd)
			background-color: $gray
		h3
			color: $red
			font-family: $heading-font
			font-size: $font-size-m
			margin-bottom: 0
			text-transform: uppercase

		p
			margin: 0
		.right
			float: right
		&.grow
			.title-value
				background-color: $red
				color: $white
				position: absolute
				height: 160px
				line-height: 145px
				left: 0
				top: 0
				padding-left: 50px
				width: 1000%
				text-align: left
				margin: 0
		
	
	.center
		@extend %table-center
		height: 160px
		
	&__cont
		@extend %table-cell
				
+breakpoint(tablet)
	.values

+breakpoint(mobile, mobile-wide)
	.values
		.blade
			.center
				display: block
				height: auto
				padding-bottom: 30px
			.title-value
				text-align: center
				border: 0 none
				height: 75px
				padding: 0
				line-height: 85px
			p
				text-align: center
			&.grow
				.title-value
					width: 115%
					width: 100vw
					position: initial
					text-align: center
					margin: 0 0 30px -30px
					text-indent: -30px
		