.worship
	.hero
		
		
		h2
			font-size: $font-size-xl + 15
			width: 100%
			max-width: 730px
			margin: 0 auto
			position: relative
			line-height: 1
			opacity: 0
			&.animate
				animation: fadeInDownBig 1s 1 forwards
			&:before
				content: ''
				background-color: $white
				bottom: initial
				display: block
				height: 1px
				width: 100px
				position: absolute
				top: 40px
				left: -70px
			
			&:after
				display: none	
			small
				font-size: $font-size-m
				font-family: $heading-font
				text-transform: uppercase
				text-align: left
				display: inline-block
				position: relative
				line-height: 1.4
				&:after
					content: ''
					display: block
					height: 1px
					width: 100px
					background-color: $white
					position: absolute
					top: 24px
					left: -17px
					width: 400px
			span
				display: block
				text-align: right
	.featured
		width: 100%
		max-width: 620px
		padding: 50px 20px
		margin: 0 auto
		text-align: center
		h2
			font-size: $font-size-xl
			position: relative
			overflow: hidden
			&:after
				content: ''
				display: block
				background-color: #d32a28
				@extend %absolute-center
				height: 3px
				width: 100%
				z-index: 1
			&:before
				content: ''
				background: url('#{$image-path}/heart-rate.png') no-repeat 0 0 transparent
				display: block
				height: 59px
				width: 41px
				position: absolute
				top: 6px
				z-index: 2
				-webkit-animation: heart-rate 4s infinite
				-moz-animation:    heart-rate 4s infinite
				-o-animation:      heart-rate 4s infinite
				animation:         heart-rate 4s infinite
				animation-timing-function: linear

			span
				//background-color: $white
				color: $red
				line-height: 1.3
				font-family: $secondary-font
				display: inline-block
				margin: 0 auto
				position: relative
				z-index: 3
				text-shadow:  3px 3px 0 $white, -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white
				padding: 0 7px
				animation: pulse 1.5s infinite
				animation-timing-function: ease-in-out
		h3
			font-size: $font-size-m
			font-family: $heading-font
			text-transform: uppercase
	+breakpoint(mobile)
		.hero
			h2
				small
					&:after
						display: none
	+breakpoint(mobile-wide, mobile)
		.hero
			h2
				font-size: $font-size-l
				text-align: center
				&:before
					display: none
				span
					font-size: $font-size-l
					text-align: center
				small
					display: block
					text-align: center
					&:after
						left: 0
						right: 0
						margin: auto
					